# Build
build/
dist/
dist-autonome/
bin/
obj/

# Logs
*.log

# IDE
.vs/
.vscode/
.idea/
*.user

# Runtime / caches locaux
*.jar

# Gros fichiers
*.zip
publish/TeamLauncher.exe
publish/TeamLauncher.pdb
publish/*.dll
publish/*.cor3.dll
